<% @page_title = "ツアー管理" %>
<h2><%= @page_title %></h2>
<P><%= link_to "ツアーの新規登録", :new_admin_tour_infomation %></P>


<table class="atr">
  <tr>
    <th>カテゴリ</th>
    <th>ツアータイトル</th>
  </tr>
  <% @tour.each do |tour| %>
  <tr>
    <td><%= tour.category %><br><%= tour.subcategory %></td>
    <td><%= link_to simple_format(tour.tourname), [:admin, tour] %></td>
    <td><%= link_to "編集", [:edit, :admin, tour] %><br><%= link_to "削除", [:admin, tour], method: :delete, confirm: "本当に削除しますか？" %></td>
  </tr>
  <% end %>
</table>